name: build
on:
  push:
    paths-ignore:
    - '**.md'
  schedule:
    - cron:  '0 0 * * *'

jobs:

  build:
    name: Build
    runs-on: ${{ matrix.vm-os }}
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        vm-os: [ubuntu-latest, macOS-latest, windows-latest]
        go-version: [1.11.13, 1.12.13, 1.13.4]

    steps:
    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      with:
        fetch-depth: 2

    - name: Build & Test
      shell: bash
      run: |
        make ci
